node_modules
.venv
.specstory
addresses.txt
liquidity_log.csv
subnet_prices.csv
subnet_prices.log
subnet_rest.log
subnets.csv
.env
gitdiff.txt
.prompts
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.coverage
htmlcov/